body {
  background-color: black;
  color: wheat;
}

#title {
  position: absolute;
  top: 0;
}

#container {
  width: 80vw;
  height: 80vh;
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score {
  border: 2px solid green;
  height: 40px;
  width: 200px;
  margin: 8px;
  /* position: absolute;
  top: 0;
  margin-top: 30; */
}

#computer-display {
  border: 2px solid red;
  height: 200px;
  width: 400px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#player-display {
  border: 2px solid yellow;
  height: 200px;
  width: 400px;
  margin: 8px;
}

#the-numbers {
  font-size: 6em;
  color: orange;
}
